.aboutWrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    margin-left: 60px;
}

.whyonecapeWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.onecapeHeading{
    width: 80%;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    letter-spacing: -4px;
}

.aboutHeading{
    width: 80%;
    font-size: 36px;
    font-weight: bold;
    text-align: left;
    letter-spacing: -4px;
}

.onecapeParagraph{
    font-size: 18px;
    line-height: 2;
    margin-top: -10px;
    width: 60%;
    text-align: center;
}

.textWrapper{
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: flex-start;
}

.aboutParagraph{
    font-size: 18px;
    line-height: 2;
    margin-top: -10px;
    text-align: left;
}

.aboutImage{
    margin-top: 40px;
    /* width: 100% */
}

.about{
    margin-top: 120px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.paymentWrapper{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    margin-left: 60px;
    margin-bottom: 40px;
}

@media screen and (max-width: 1200px) {
    .aboutWrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 0px;
    }
    .paymentWrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 0px;
    }
    .textWrapper{
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .aboutParagraph{
        /* width: 80%; */
        margin-top: -10px;
        font-size: 18px;
        text-align: center;
    }
    .aboutHeading{
        width: 80%;
        font-size: 28px;
        font-weight: bold;
        text-align: center;
        letter-spacing: -2px;
    }
    .aboutImage{
        width: 100%
    }
    .onecapeParagraph{
        font-size: 16px;
        line-height: 2;
        width: 80%;
        margin-top: -10px;  
        text-align: center;
    }
    .onecapeHeading{
        width: 80%;
        font-size: 28px;
        font-weight: bold;
        text-align: center;
        letter-spacing: -2px;
      }
    
}

@media screen and (max-width: 400px) {
    .aboutParagraph{
        /* width: 80%; */
        font-size: 16px;
        text-align: center;
    }
    .about{
        margin-top: 180px;
        padding: 20px
    }
}