.footerWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3F3D56;
    width: 100%;
    height: auto;
    padding-top: 120px;
    padding-left: 120px;
    padding-right: 120px;
}

.footerDetailsWrapper{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: flex-start;
    justify-content: space-around;
    border-bottom: 1px solid #6a65b3;
}

.logoWrapper{
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;
}

.detailsText{
    text-align: left;
}

.infoWrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.mediaCard{
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 40px 60px 40px 60px;
}

.socialMedia{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 20%;
    justify-content: space-between;
}

.socialHovers{
    padding: 10px;
    border-radius: 100px
}

.socialHovers:hover{
    background-color: #5c5a7e;
    /* width: 10px; */
    /* height: 10px; */
    cursor: pointer;
    padding: 10px;
    border-radius: 100px
}

.linkes:hover{
    text-decoration: underline;
    cursor: pointer;
}
.playstore:hover{
    cursor: pointer;
}

@media screen and (max-width: 1200px) {
    .footerWrapper{
        padding-top: 60px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .detailsText{
        text-align: center;
    }
    .footerDetailsWrapper{
        flex-direction: column;
        align-items: center;
    }
    .mediaCard{
        flex-direction: column;
    }
    .infoWrapper{
        align-items: center;
    }
    .socialMedia{
        width: 100%;
        margin-top: 20px;
    }
}