.requestDemo {
  box-shadow: 0 35px 60px -15px rgba(0, 0, 0, 0.1);
  width: 40%;
  color: white;
  /* max-height: 20vh; */
  /* margin-top: 10px; */
  margin-bottom: 40px;
  border-radius: 20px;
  background: radial-gradient(
    ellipse farthest-side at 140% 0%,
    rgb(255, 104, 91) 0%,
    #ff9b8b 70%,
    rgb(255, 143, 133) 70%
  );
  padding: 20px;
  padding-top: 80px;
  padding-bottom: 40px;
}
.requestWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
  justify-content: center;
}
.inputAlign {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 60px;
  justify-content: space-around;
}

.MuiFilledInput-input{
  padding: 12px 12px 10px !important;
}

@media screen and (max-width: 1200px) {
  .requestDemo {
    width: 90%;
    padding: 0px;
    padding-top: 80px;
    padding-bottom: 40px;
  }
  .inputAlign {
    flex-direction: column;
  }
}
